<%- include ../partial/header %>

<h1>상품 추가</h1>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="상품 이름" name="name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" name="price">
    </div>
    <div class="form-group">
        <label for="info">Info</label>
        <textarea type="text" class="form-control" name="info"></textarea>
    </div>
    <div class="form-group">
        <label for="avg_stars">avg_stars</label>
        <select class="form-control" name="avg_stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="total_reviews">total_reviews</label>
        <input type="number" class="form-control" name="total_reviews">
    </div>
    <button class="btn btn-primary" id="add-btn">Submit</button>
</form>

<script>
  $(document).ready(function() {
    $('#add-btn').on('click', function(e) {
      const formData = $('form').serialize();
      $.ajax({
        method: 'POST',
        url: '/products',
        data: formData,
        success: function(res) {
          alert('success to insert.');
        }
      })
    });
  })
</script>

<%- include ../partial/footer %>