<%- include ../partial/header %>

<h1>로그인</h1>
<form>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" placeholder="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
</form>
<div class="pull-right">
    <button class="btn btn-danger" id="login-btn">Login</button>
</div>

<script>

  $(document).ready(function() {
    $('#login-btn').on('click', function(e) {
      var email = $('#email').val();
      var password = $('#password').val();


      $.ajax({
        method: 'POST',
        url: '/auth/login',
        data: {
          email: email,
          password: password
        },
        success: function(res) {
          localStorage.setItem('token', res.token);
          alert(res.msg);
        },
        error: function(res, err) {
         if (res.status == 401) alert(res.responseJSON.msg);
        }
      })
    });
  });
</script>
<%- include ../partial/footer %>
